:root {
  --swiper-navigation-color:#ffffff;
  --swiper-pagination-color:#ffffff;
}

.inner {
  // width: 100%;
  height: 40rem;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.inner::-webkit-scrollbar {
  display: none;
}