.brand {
  display:flex;
  align-items: center;
  img {
    max-width:13em !important;
  }
}

@media only screen and (max-width: 600px) {
  .brand {
    img {
      max-width:40em !important;
    }
}
}