.flexEvenly {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .flexEvenly {
    display: flex;
    flex-direction: column;
  }
}