.layoutWrapper {
  padding-bottom:0.5rem;
	-webkit-box-shadow: 0 8px 6px -1px rgb(134, 134, 134);
	   -moz-box-shadow: 0 8px 6px -1px rgb(134, 134, 134);
	        box-shadow: 0 8px 6px -1px rgb(134, 134, 134);
  h1 {
    font-size: 2em;
  }
  h3 {
    font-weight: normal;
  }
  p {
    font-size: 1.2em;
    margin:1em;
  }
  svg {
    margin:0 0.5em;
  }
}