.navigation {
  position:fixed;
  z-index:10;
  width:100%;
  background-color: red;
  
  &__content {
    max-width: 1920px;
    margin:0 auto;
    padding: 0 $spacing-md;
    @include breakpoint(md) {
      padding: 0 $spacing-lg;
    }
    transition: 0.3 ease padding;

    height: 100%;
    display: flex;
    align-items: center;

    & > div {
      flex:1;
      white-space: nowrap;

      &:nth-child(2) {
        display:flex;
        justify-content: center;
        height:100%;
      }

      &:last-of-type {
        display:flex;
        justify-content: flex-end;
      }
    }
  }
}

.navlinks {
  width:100%;
  position: fixed;
  top:$header-height;
  // right:-100%;
  background-color: red;
}