.Navbar nav ul li {
  display:inline-block;
  margin:1.0vw;
  padding:10px 0;
}

.Navbar nav ul li a {
  text-decoration: none;
  color:#fff;
  font-weight: 900;
  font-size: 1rem;
}

.Navbar a:hover {
  border-bottom:5px solid #bd5100;
}

.Navbar .MobileNavigation {
  display:none;
}

@media (max-width: 1040px){
  .Navbar {
    width:100%;
  }

  .Navbar .Navigation {
    display:none;
  }

  .Navbar .MobileNavigation {
    display:flex;
    align-items: center;
  }

  .Navbar .MobileNavigation .Hamburger {
    position:absolute;
    right:5%;
  }

  .Navbar nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:210px;
    left:0px;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0,0.9);
    border-top:3px solid #bd5100;
    padding:3rem;
  }

  .Navbar nav ul li a {
    text-decoration: none;
    color:#fff;
    font-size:1.2rem;
  }
}

@media (max-width: 780px){
  .Navbar nav ul {
    top:190px;
  }
}

@media (max-width: 500px){
  .Navbar nav ul {
    top:140px;
  }
}