html {
  background-color: black;
//   background-image: linear-gradient(
//   190deg,
//   hsl(33deg 13% 31%) 0%,
//   hsl(77deg 8% 27%) 0%,
//   hsl(151deg 9% 25%) 2%,
//   hsl(185deg 12% 22%) 6%,
//   hsl(192deg 11% 22%) 15%,
//   hsl(168deg 7% 25%) 29%,
//   hsl(117deg 3% 29%) 47%,
//   hsl(52deg 3% 32%) 64%,
//   hsl(70deg 3% 31%) 77%,
//   hsl(141deg 4% 28%) 87%,
//   hsl(177deg 8% 24%) 95%,
//   hsl(198deg 12% 21%) 100%
// );
  color:white;
  box-sizing: border-box;
  a {
    color:white;
    text-decoration: none;

  }
  a:hover {
    color:#ab3f3f;
    transition: ease-in-out 0.5s;
  }


  
}