/* 

Orange: #bd5100
Red: #ab3f3f
White: #F5F5F5
Light Grey: #6d7076
Dark Grey: #404744
Black: #262626

*/

html {
  background-color: black;
  color: white;
  box-sizing: border-box;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: #bd5100;
    transition: ease-in-out 0.5s;
  }

  img {
    max-width: 1200px;
    width: 100%;
    border-radius: 1%;
    &.shadow {
      -webkit-box-shadow: 7px 7px 42px 11px rgba(105,105,105,0.85); 
      box-shadow: 7px 7px 42px 11px rgba(105,105,105,0.85);
    }
  }

  // Accordion test

  .accordion-title {
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.3);
    :hover {
      background-color:rgba(0, 0, 0, 0.1) !important;
    }
  }

  .accordion {
    max-width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;

    .accordion-content {
      margin: 0 1.5rem;
      padding: 1rem;
      border-bottom: 1px solid #929292;
      border-right: 1px solid #929292;
      border-left: 1px solid #929292;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .accordion-title {
      margin: 0 1.5rem;
      color: var(--clr-white);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;
      background: var(--clr-grey-1);
      padding: 1rem;
      &:hover {
        background-color: var(--clr-grey-1);
      }
    }
    .accordion-item {
      flex-basis: 20px;
      flex-grow: 0;
      transition: flex-grow 2s ease-out;
      &.accordion-content {
        flex-grow: 1;
      }
    }
  }
}
